 * { margin: 0; padding: 0; box-sizing: border-box; 
  font-family:alexandria family, sans-serif;
 }



  body {
    background:  #F8F3EF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    
  }

  
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    right: 50%;
    left: 50%;   
  }

 .profile-wrapper img{
  height: 100px;
  width: 100px;
}
  .name-block {
    text-align: center;
    
  }

  .name {
    font-size: 30px;
    font-weight: 500;
    color: #441111;
    letter-spacing: 1px;
    margin: -5% 0 3% 0;
      
  } 



  .ticker {
    background: #98b4b8;
    padding:  10px;
    overflow: hidden;
    white-space:nowrap;
    border:solid #441111 1px;
    /*  */
    margin: 10px 0 ;
     width: 100vw;
    /* width: 100%; */
     
  }

  .ticker-inner {
    display: flex;
    gap: 70px;
    animation: ticker 20s linear infinite;
    margin-top: 10px;
    /* padding-bottom: -10%; */
    /* margin: 0%; */
     width: max-content;
  }

  .ticker-inner  img {
    height: 60px;
    /* width: 100%; */
    padding: 10;
    margin-right: 10px;
    
  }

  .ticker span {
    font-family: "alexandria",sans-serif;
    font-size: 25px;
    letter-spacing: 0px;
    color: #441111;
    font-weight: 300;
    margin-top: 10px;
  }

.ticker:hover .ticker-inner {
    animation-play-state: paused;
}
  @keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }


  .name-parents #text{
   
    color: #441111;
    font-family:'Cormorant Garamond', serif ;
    font-size: 35px;
    margin: 10px 0 20px 0;
    
  }
  #text i {
    font-family:'Cormorant Garamond', serif ;    
  }

  .social-row {
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-top: 0;
    margin-bottom: -20%;
    color: #441111;
  }

  .social-dot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid rgba(192, 57, 43, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #441111;
  }

  .social-dot:hover {
    background: rgba(42, 12, 7, 0.2);
    border-color: #490a03;
    transform: scale(1.1);
  }

  .social-link:hover { opacity: 8; }

  .social-link svg {
      width: 20px;
      height: 20px;
      fill: #f7f7f7;
      
  }
.footer-wave{
    width: 100%;
    /* transform: scale(1); */
    transform-origin: center;
    
    margin: 13% 0 0 -3%;
   
}

.footer-wave img{
    /* width: 100%; */
    width:100vw;
    height: Auto;
    display: block;
    color: #441111; 
    margin:  0 ; 
    padding: 0;
    
    
        
}



 @media (max-width: 1000px   ) {
  .profile-wrapper {
        width:100%;
        height: auto; 
        
    }
.profile-wrapper img{
  height: 300px;
  width: 300px;
  margin-top: -20% 0 30% 0;
}
   
    .name {
        font-size: 45px;

    }

    .ticker {
      margin: 8%;
      padding: 30px;
      margin-left: 9%;
    }
.social-row{
  gap: 30px;
}
.social-dot {
    width: 80px;
    height: 80px;
    
   
  }
   .social-link svg {
      width: 50px;
      height: 50px;   
  }
  .name-parents #text {
    font-size: 55px;
  }
.footer-wave{
  padding-top: 50%;
  margin-bottom: -60%;
}
 
 }
 

  @media screen and (max-width: 900px ) {
  .profile-wrapper {
        width:100%;
       
    }

   .profile-wrapper img{
  height: 150px;
  width: 150px;
  margin-top: -40%;
}
    .name {
        font-size: 28px;
        margin-top: -7%;
        padding-bottom: 15px;

    }
      .ticker {
      padding: 9px;
      margin-left: 9%;
      margin-top: -9%;
    }

     .name-parents #text {
    font-size: 30px;
    margin-top: -10%;
  }
.social-row{
  gap: 20px;
}
  .social-dot {
    width: 45px;
    height: 45px;
    
   
  }
   .social-link svg {
      width: 25px;
      height: 25px;   
  }

  .footer-wave{
    margin-left: -7%;
    padding: 20% 0 0 0;
  }

}